*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/misc.xml

.idea/copyright/profiles_settings.xml

.idea/compiler.xml

.idea/markdown-navigator/profiles_settings.xml

.idea/misc.xml

.idea/misc.xml
